.time-ruler-container {
	width: 10rem;position: relative;
	padding-top: 0.6rem;
}
.ruler-echart {
	width: 10rem;
	background: #fff;
	height:1.5rem;
}
.timer-pointer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 2rem;
	text-align: center;
	color:#062c80;
	font-size: 0.6rem;
}
.timer-pointer.conflict {
	color:#F66900;
}
.time-line {
	position: absolute;
	height: 1.2rem;
	width: 0.06rem;
	background: #062c80;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	border-radius: 0.9rem;
}
.time-line.conflict {
	background: #F66900;
}